.jumbotron {
  padding-top: 6rem;
  background-color: #bbe9ff;
}

#Projects {
  background-color: #bbe9ff;
}

section {
  padding-top: 5rem;
}

.jumbotron .sosial-media a {
  text-decoration: none;
  color: var(--lightgray);
  padding-right: 25px;
  width: 50px;
  height: 50px;
}

.social-media {
  margin-right: 10px;
}
